.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 15px;
}
.title {
    margin: 0;
    font-family: $main-font-family;
    font-weight: $title-font-weight;
    font-size: $title-font-size;
    color: $color-title;
    line-height:$line-height-title;
}
.text {
    margin: 0;
    font-size:$text-font-size;
    font-weight:$text-font-weight;
    color:$color-text;
    line-height:$line-height-text;
}
.btn {
    border:$button-border;
    border-radius:$button-border-radius;
    color:$color-btn;
    font-weight:$font-weight-button;
    font-size:$font-size-button;
    padding:$padding-button;
    width:$width-button;
}
.btn:hover {
    color: $hover-color-button;
}