//////////////////////////////////////////color//////////////////////////////////
$main-color1: #7D7987;
$main-color2: #FFFFFF;
$color-title:#000000;
$color-text:#7D7987;
$color-btn:#458FF6;
////////////////////////////////////////////title///////////////////////////////
$title-font-weight:700;
$title-font-size:24px;
////////////////////////////////////////////text///////////////////////////////
$text-font-weight:300;
$text-font-size:18px;
$text-font-weight:700;
////////////////////////////////////////font-family///////////////////////////
$main-font-family:'Mulish', sans-serif;
///////////////////////////////////////body//////////////////////////////////
$main-color1: #7D7987;
$main-font-size:18px;
$main-font-weight:700;
$main-font-family:'Mulish', sans-serif;
