@import "reset";
@import "vars";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap");
@import "class";
@import "mixin";

*,
::after,
::before {
    box-sizing: border-box;
}
body {
    color: $main-color1;
    font-size: $main-font-size;
    font-weight: $main-font-weight;
    font-family: $main-font-family;
}
a {
    text-decoration: none;
    font-family: $main-font-family;
}
li {
    list-style: none;
}
ul {
    padding: 0;
}
img {
    max-width: 100%;
    display: block;
}
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    &-top {
        padding-top: 56px;
        @include flex;
    }
    &-menu {
        @include flex;
        &__list + &__list {
            margin-left: 40px;
        }
        &__link {
            color: $header-nav-link-color;
            font-size: $header-nav-link-font-size;
            line-height: $header-nav-link-line-height;
            opacity: $header-nav-link-opacity;
        }
        &__link:hover {
            opacity: unset;
        }
        &__list--active {
            opacity: unset;
        }
    }
    &-content {
        padding-top: 84px;
        @include flex;
    }
    &-info {
        &__title {
            font-size: 48px;
            max-width: 427px;
            margin-bottom: 25px;
        }
        &__text {
            max-width: 445px;
            margin-bottom: 45px;
        }
    }
}
.wrapper{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: #000;
    transition: all 0.6s ease-in-out;
  }
  #active:checked ~ .wrapper{
    right:0;
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 50px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after{
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      left: 30%;
      width: 40%;
      border-bottom: 2px solid #000;
      transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .menu-btn:before{
    transform: translateY(-8px);
  }
  .menu-btn:after{
    transform: translateY(8px);
  }
  
  
  .close {
      z-index: 1;
      width: 100%;
      height: 100%;
      pointer-events: none;
      transition: background .6s;
  }
  
  /* closing animation */
  #active:checked + .menu-btn span {
      transform: scaleX(0);
  }
  #active:checked + .menu-btn:before {
      transform: rotate(45deg);
    border-color: #fff;
  }
  #active:checked + .menu-btn:after {
      transform: rotate(-45deg);
    border-color: #fff;
  }
  .wrapper ul{
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    height: 10%;
    margin: 15px 0;
  }
  .wrapper ul li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
    transition: all 0.3s ease;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #1a73e8;
  }
  input[type="checkbox"]{
    display: none;
  }
  #active:checked ~ .wrapper ul li a{
    opacity: 1;
  }
  .wrapper ul li a{
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
  }
  #active:checked ~ .wrapper ul li a{
      transform: none;
      transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1);
     transition-delay: .6s;
    transform: translateX(-100px);
  }
.services {
    padding: 192px 0px 120px;
    &__title {
        text-align: center;
        font-size: 36px;
        margin-bottom: 60px;
    }
    &__text {
        max-width: 950px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 80px;
    }
    &-inner {
        @include grid;
        margin-bottom: 72px;
    }
    &__item {
        margin: 0 auto;
        background:$main-color2;
        box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
        border-radius: 20px;
        width: 350px;
        padding: 20px;
        text-align: center;
        &-image {
            margin: 0 auto;
        }
    }
    &-btn {
        display: block;
        margin: 0 auto;
    }
}
.provide {
    padding: 100px 0px 130px;
    &-inner {
        @include flex;
    }
    &-content__title {
        font-size: 36px;
        max-width: 470px;
        margin-bottom: 58px;
    }
    &-content__text {
        max-width: 440px;
        margin-bottom: 36px;
    }
}
.mobile {
    padding: 100px 0px 130px;
    &-inner {
        @include flex;
    }
    &-content__title {
        font-size: 36px;
        max-width: 250px;
        margin-bottom: 60px;
    }
    &-content__text {
        max-width: 370px;
        margin-bottom: 40px;
    }
}
.testimonials {
    padding: 130px 0px;
    &-wrapper {
        padding: 70px;
        background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
        border-radius: 24px;
    }
    &__title {
        text-align: center;
        color: $main-color2;
        font-size: 36px;
        margin-bottom: 93px;
    }
    &-inner {
        @include flex;
    }
    &-content {
        @include flex;
    }
    &-data {
        margin-left: 30px;
        &__name {
            color: $main-color2;
        }
        &__work {
            color: rgba(255, 255, 255, 0.9);
        }
    }
    &-info {
        max-width: 380px;
        color: rgba(255, 255, 255, 0.9);
    }
}
.about {
    padding: 150px 0px 200px;
    &__title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 100px;
        line-height: 32px;
        font-weight: 700;
        color: #000000;
    }
    &-inner {
        @include flex;
        margin-bottom:70px;
    }
    &-content {
        padding: 21px 20px 35px;
    }
    &__item-title {
        margin-bottom: 12px;
    }
    &-item__image{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    &__item-text {
        margin-bottom: 25px;
        max-width: 280px;
    }
    &__item-btn {
        border: none;
        padding: 0;
    }
    &__item {
        background: $main-color2;
        box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
        border-radius: 20px;
        width: 350px;
        &-title {
            line-height: 32px;
        }
    }
    &-btn{
        text-align: center;
        display: block;
        margin: 0 auto;
    }
}
.footer {
    padding:120px 0px;
    margin-top: auto;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    &-inner{
        @include flex;
    }
    &-logo{
        margin-bottom: 17px;
    }
    &-text{
        color:$main-color2;
        max-width: 380px;
        padding-top: 31px;
    }
    &__title{
        color:$main-color2;
        font-size: 20px;
        line-height: 60px;
    }
    &-list+&-list{
        padding-top: 20px;
    }
    &-link{
        color:$main-color2;
        font-weight: 300;
        &:hover{
            color:$color-footer-link;
        }
    }
}
.burger-menu{
    display: none;
}
@import 'media';